body {
  background: linear-gradient(135deg, #111, #222);
  color: #eee;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  background: #1f1f1f;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 400px;
  transition: 0.3s ease;
}

.app-container:hover {
  transform: translateY(-3px);
}

.title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #61dafb;
}

.input-area {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input-cep {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  width: 180px;
  outline: none;
  text-align: center;
}

.btn-buscar {
  background: #61dafb;
  color: #111;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
}

.btn-buscar:hover {
  background: #4bc0e6;
  transform: scale(1.05);
}

.erro {
  color: #ff6b6b;
  margin-top: 10px;
  font-weight: 500;
}

.loading {
  color: #aaa;
  font-style: italic;
}

.card-resultado {
  background: #2b2b2b;
  border-radius: 12px;
  padding: 20px;
  text-align: left;
  margin-top: 20px;
  animation: fadeIn 0.5s ease;
  box-shadow: 0 0 10px rgba(97, 218, 251, 0.2);
}

.card-resultado h2 {
  color: #61dafb;
  margin-bottom: 10px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.formatar-paragrafo {
  align-items: self-start;
  margin: 5px 0;
  line-height: 1.6;
  word-break: break-all;
  font-size: 16px;
  color: #999;

}